*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p{
  font-size: 20px;
}

.center{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
}

.main{
  padding: 40px 0;
  width: 100%;
  min-height: 400px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0px 3px 5px 0px rgb(219, 225, 230);
  -moz-box-shadow: 0px 3px 5px 0px rgb(229, 235, 240);
  box-shadow: 0px 3px 5px 0px rgb(228, 230, 233);
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0px 3px 5px 0px rgb(180, 210, 230);
  -moz-box-shadow: 0px 3px 5px 0px rgb(191, 216, 236);
  box-shadow: 0px 3px 5px 0px rgb(175, 204, 231);
}

.content{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu img {
  width: 10rem;
  padding: 20px;
}

.menu-pages{  
  padding: 20px;
}

.menu-pages a {
  color: black;
  text-decoration: none;
  padding-left: 90px;
  text-align: center;
  font-size: 25px;
  align-items: center;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbar input {
  padding: 10px;
  height: 50px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0px 3px 5px 0px rgb(219, 225, 230);
  -moz-box-shadow: 0px 3px 5px 0px rgb(229, 235, 240);
  box-shadow: 0px 3px 5px 0px rgb(228, 230, 233);
}

.searchbar-btn button {
  width: 100px;
  height: 50px;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
}

.pokedex-card {
  display: flex;
  box-shadow: 4px 4px 4px (0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokedex-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.pokemon-image-container {
  padding: 0 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rock {
	background-color: #c5bfad;
}
.ground {
	background-color: #d99672;
}
.ghost {
background-color: #7181ae;
}
.electric {
background-color: #f3e4a0;
}
.bug {
background-color: #a4be70;
}
.poison {
background-color: #c19ace;
}
.normal {
background-color: #c2c9d0;
}
.fairy {
background-color: #f0d0ee;
}
.fire {
background-color: #ffb680;
}
.grass {
background-color:#85bd7f;
}
.water {
background-color:#95b5d9;
}
.metal {
	background-color: #829ca6;
}
.dragon {
	background-color: #488cc8;
}
.psychic {
	background-color: #fca3a8;
}
.flying {
	background-color: #adc2e5;
}
.ice {
	background-color: #a3cfc8;
}
.dark {
	background-color: #646367;
}
.fighting {
	background-color: #ce8098;
}