*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
}

.main{
  padding: 40px 0;
  width: 100%;
  min-height: 100px;
}

.menu img {
  width: 10rem;
  padding: 20px;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0px 3px 5px 0px rgb(180, 210, 230);
   -moz-box-shadow: 0px 3px 5px 0px rgb(191, 216, 236);
   box-shadow: 0px 3px 5px 0px rgb(175, 204, 231);
}

.menu-pages{  
  padding: 20px;
}

.menu-pages ul {
  list-style-type: none;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.menu-pages ul li {  
  position: relative;
  padding-left: 90px;
  text-align: center;
  width: auto;
}

.menu-pages ul li a {
  color: black;
  text-decoration: none;
  text-transform: bold;
  font-size: 25px;
  padding-left: 15px;
}

.rock {
	background-color: #c5bfad;
}
.ground {
	background-color: #d99672;
}
.ghost {
background-color: #7181ae;
}
.electric {
background-color: #f3e4a0;
}
.bug {
background-color: #a4be70;
}
.poison {
background-color: #c19ace;
}
.normal {
background-color: #c2c9d0;
}
.fairy {
background-color: #f0d0ee;
}
.fire {
background-color: #ffb680;
}
.grass {
background-color:#85bd7f;
}
.water {
background-color:#95b5d9;
}
.metal {
	background-color: #829ca6;
}
.dragon {
	background-color: #488cc8;
}
.psychic {
	background-color: #fca3a8;
}
.flying {
	background-color: #adc2e5;
}
.ice {
	background-color: #a3cfc8;
}
.dark {
	background-color: #646367;
}
.fighting {
	background-color: #ce8098;
}